.BlogCard{
    width:350px;
    background-color: azure;
    border: 2px solid black;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
}
.render-one{
    background-color: brown;
    color: beige;
}
.render-two{
    background-color:hotpink;
    color: rgb(100, 100, 76);
}