


.ProfileCard{
    
    
    margin: 20px;
    border-radius: 10px;
    background-color: rgb(193, 226, 226);
    width: 400px;
    
    img{
        display: flex;
        width: 300px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        overflow: hidden;
        margin-left: 40px;
        margin-top: 20px;
        
    }
    .card-text{
        display: flex;
        flex-direction: column;
        align-self: start;
        padding-left: 10px;
    }
    p{
        font-weight: 500;
        font-size: 18px;
    }
    

}
.render-x{
    background-color:rgb(170, 216, 170);
    color:grey;
}
.render-u{
    background-color:green;
    color:white;
}
.render-v{
    background-color:rgb(2, 14, 2);
    color:white;
}